* {
	box-sizing: border-box;
	color: white;
}

body {
	margin: 0;
}

em {
	display: block;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro',
		'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-size: 30px;
}

h1 {
	font-family: 'Notable', sans-serif;
	font-size: 50px;
	font-style: italic;
	margin: 0;
	text-align: right;
}

h2 {
	font-family: 'Notable', sans-serif;
	font-size: 35px;
	margin-top: 30px;
}

h3 {
	font-family: 'Notable', sans-serif;
	font-size: 20px;
	margin-top: 20px;
}

iframe {
	height: 28.125vw;
}

iframe,
img,
video {
	margin: 5vh 5vw;
	width: 50vw;
}

input {
	color: black;
}

label,
li,
p {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro',
		'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-size: 20px;
	line-height: 30px;
}

.indent {
	padding-left: 40px;
}

.vertical-image {
	width: 25vw;
}

#background {
	background-image: url('./images/stars.png');
	background-repeat: repeat;
	height: 100vh;
	width: 100vw;
}

#close p {
	color: black;
}

#gradient-background {
	background-image: radial-gradient(black 60%, #00000000);
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 15px 10vw 0;
	width: 100vw;
}

#header {
	display: flex;
}

#header-img {
	height: 200px;
	margin: 0;
	width: 200px;
}

#main-content {
	flex: 1;
	overflow-y: scroll;
	padding-bottom: 5vh;
}

#modal {
	background-color: gray;
	border-radius: 20;
	display: none;
	flex-direction: column;
	height: 90vh;
	justify-content: center;
	opacity: 0.95;
	padding: 10vh 10vw;
	position: fixed;
	left: 5vw;
	top: 5vh;
	width: 90vw;
}

#nav-bar {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

#nav-bar a {
	margin: 1vh 0;
	padding: 0 2vw;
}

#nav-bar a:not(:first-child) {
	border-left: 2px solid white;
}

#nav-bar div {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

#nav-bar p {
	margin: 0;
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 20px;
	}

	#header-img {
		height: 100px;
		width: 100px;
	}

	#nav-bar div {
		margin-left: -100px;
	}
}
